/* ~~~~~ Basic ~~~~~ */
html,
body {
    overflow-x: hidden;
    color: white;
}

body {
    background-color: #013240;
    padding-top: 30px;
    padding-bottom: 0px;
}

@media (max-width: 720px) {
    body {
        padding-top: 15px;
    }
}

footer {
    padding-top: 0px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 58px;
    color: #569BF8;
    font-family: Hind, regular;
    text-align: center;
}

h3 {
    font-family: 'Fira Mono', monospace;
}

h4 {
    font-weight: 200;
    text-align: left;
}

h7 {
    font-size: 11pt;
}

a {
    color: #569BF8;
    padding: 0;
    margin: 0;
}

/* For 'a' that shouldn't appear as a link */
.noLink {
    text-decoration: none !important;
}

a:hover {
    color: white;
    text-decoration-style: dotted !important;
}

/* ~~~~~ Header ~~~~~ */

#logo {
    max-width: 90%;
    height: 100px;
    object-fit: contain !important;
    margin-bottom: 15px;
}

#nav {
    background-color: #226F83;
    color: white;
    text-align: center;
    height: 55px;
    width: 100%;
    font-size: 20px;
    font-family: Hind, regular;
}

#nav-list {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#nav-list a {
    color: white;
}

#nav-list a:default {
    color: white;
    text-decoration: none;
}

#nav h2 {
    font-size: 24px;
    font-family: Hind, regular;
    margin: 0;
}

.current {
    text-decoration: underline;
    text-decoration-style: dotted !important;
}

/* ~~~~~ About page ~~~~~ */

#hi {
    padding-bottom: 5px;
}

@media (max-width: 720px) {
    #hi {
        text-align: center;
    }
}

.profile {
    object-fit: cover;
    width: 75%;
    float: right;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid white;
}

@media (max-width: 1200px) {
    .profile {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#intro {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 25px;
    font-family: Hind, regular;
}

#intro p {
    margin-bottom: 0;
}

#email_link {
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#email_link:hover {
    color: #569BF8;
}

#socialButtons {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-bottom: 10px;
    margin: 0;
    max-width: 350px !important;
    overflow: hidden;
    float: right;
}

@media (max-width: 1200px) {
    #socialButtons {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.social {
    padding: 0;
    margin: 0;
    width: 100%;
}

.social:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

/* ~~~~~ Resume page ~~~~~ */

#resume {
    text-align: center;
}


.card {
    align-items: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    font-family: 'Hind', sans-serif;
}

.card-subtitle {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.card-title {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.skills {
    object-fit: cover;
    width: 100%;
    padding: 1%;
}

.column {
    margin-bottom: 25px;
}

.section {
    margin-top: 20px;
    margin-bottom: 10px;
}

#subtitle {
    font-family: 'Hind', sans-serif;
}

ul {
    padding-left: 15px;
}

.lnkbtn {
    width: 100%;
}

/* ~~~~~ Portfolio page ~~~~~ */

.port_title {
    font-weight: 600;
}

.port_img {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.port_row {
    margin-bottom: 100px;
}

.port_ico {
    padding-right: 10px
}

.portfolio-btn {
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #01242E;
    box-shadow: none;

}

.portfolio-btn:focus {
    box-shadow: none;
}

.portfolio-btn[aria-expanded="true"] {
    box-shadow: 0 0 0 2px #226f83;
}

.portfolio-desc {
    margin-top: 15px;
    padding: 20px;
    background-color: #01242E;
}

.portfolio-desc p {
    margin: 0;
}

/* ~~~~~ Common ~~~~~ */

.content {
    padding-top: 35px;
}

@media (max-width: 720px) {
    .content {
        padding-top: 25px;
    }
}

.page-intro {
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
}

.highlight {
    color: #23CFFC;
}

.dhighlight {
    color: #0f75bc;
}

.btn-primary {
    background-color: #477FB3;
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #335E86 !important;
    border: none !important;
    border-color: #335E86 !important;
    box-shadow: none !important;
}


.btn-outline-primary {
    border-color: #477FB3;
}


.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    border-color: #335E86;
    background-color: #335E86 !important;
    border-color: #335E86 !important;
    box-shadow: none !important;
}

/* ~~~~~ Other ~~~~~ */
.no-top-pad {
    padding-top: 0px;
}

.center {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
