body {
    background-color:#022A35;
    color: white;
}

#top {
    color:dodgerblue;
    padding-bottom:10px;
}

.card {
    align-items: left;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    font-family: 'Hind', sans-serif;
}

.column {
    margin-bottom: 25px;
}

.card-subtitle {
    padding-bottom: 10px;
    text-align: center;
}

.skill {
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.jumbotron {
    color:white;
    background-color: transparent;
    padding-bottom: 0px;
}

.center {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resume {
    text-align: center;
    padding-top: 20px;
}

.section {
    margin-top: 20px;
    margin-bottom: 10px;
}

h7 {
    font-size: 11pt;
}

.social:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#social {
    padding-top: 10px;
    padding-bottom: 20px;
}

#tag {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    text-align: center;
    color: white;

}

.display-5 {
    font-size: 1.5rem;
} 