/* Google Fonts - Hind, Montserrat, Noto Sans JP, Nunito */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@500&family=Noto+Sans+JP:wght@100&family=Nunito&display=swap');

/* Adobe Fonts - Myriad Pro */
@import url("https://use.typekit.net/bbg1paf.css");

/* Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

/* ~~~ Basic ~~~ */

    * {
        box-sizing: border-box;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #013240;
        overflow-x: hidden;
        color: white;
    }

    footer {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: white;
    }

    footer h4 {
        font-family: 'Hind', 'regular' !important;
    }

    section {
        width: 100%;
        padding: 0 7%;
        display: table;
        margin: 0;
        height: 100vh;
        padding-left: auto;
        padding-right: auto;
    }

    @media (max-width: 576px) {
        section {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .about {
        height: 90vh;
        background-color: #013240;
        padding-top: 0%;
        padding-bottom: 0%;
        font-family: 'Hind', sans-serif;
    }

    .main {
        height: 100%;
        background-color: #013240;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .resume {
        height: 100%;
        background-color: #226F83;
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow:
            inset 0px 11px 12px -10px #000000,
            inset 0px -11px 12px -10px #000000;
    }

    .portfolio {
        height: 100%;
        background-color: #013240;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
    }

    .content-nova {
        display: table-cell;
    }

    p {
        font-family: 'Hind', 'regular';
    }

    h1 {
        font-size: 2.5rem;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
    }

    h2 {
        font-size: 1.16rem;
        color: white;
        font-family: 'Hind', 'regular';
    }

    h3 {
        font-size: 1.5rem;
        font-family: 'Ubuntu Mono', monospace;
        color: white;
    }

    h4 {
        font-size: 1rem;
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
    }

    h5 {
        font-size: 1.25rem;
        color: white;
        font-family: 'Hind', 'regular';
    }

    a {
        color: #569BF8;
        padding: 0;
        margin: 0;
        font-family: 'Hind', 'regular';
    }

    a:hover {
        color: white;
        text-decoration-style: dotted !important;
        text-decoration-skip-ink: none;
    }

    .noLink {
        all: unset;
        text-decoration: none !important;
        text-align: none !important;
        color: none !important;
    }

    strong {
        font-weight: bolder;
    }

    ul {
        display: inline-block;
        margin-left: 10px;
    }

    li {
        margin-left: 10px;
    }

    /* Header */

    header {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .logo-wrapper {
        padding: 0;
        margin: 0;
    }

    #logo {
        max-width: 90%;
        height: 100px;
        object-fit: contain !important;
        font-family: 'myriad-pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        padding-left: 0px;
        padding-right: 0px;
    }

    #logo:hover {
        cursor: pointer;
    }

/* Navigation */

    #nav-wrapper {
        margin: 0;
        padding: 0;
    }

    #nav {
        float: right;
        padding: 0px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    #nav h5 {
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14pt;
    }

    .nav-item {
        text-align: right;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item-first {
        padding-left: 0px !important;
    }

    .nav-item-last {
        padding-right: 0px !important;
    }

/* ~~~ About ~~~ */

    #hi {
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 5px;
        color: white;
        text-align: left;
    }

    @media (max-width: 768px) {
        #hi {
            text-align: center;
        }
    }

    .profile {
        object-fit: cover;
        width: 100%;
        float: right;
        margin-bottom: 15px;
        margin-right: 15px;
        border-radius: 50%;
        border: 3px solid white;
    }

    @media (max-width: 992px) {
        .profile {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    }

    #intro {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #intro p {
        margin-bottom: 0;
        font-size: 1.45rem;
    }

    @media (max-width: 768px) {
        #intro p {
            font-size: 1.2rem;
        }
    }

    #email_link {
        color: white;
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    #email_link:hover {
        color: #569BF8;
    }

    #socialButtons {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-bottom: 10px;
        margin: 0;
        max-width: 350px !important;
        overflow: hidden;
        float: right;
    }

    @media (max-width: 1200px) {
        #socialButtons {
            float: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 576px) {
        #socialButtons {
            width: 300px;
        }
    }

    .social {
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #191919;
    }

    .social:hover {
        border-radius: 50%;
        border: 1px solid black;
        opacity: 0.65;
        text-decoration: none;
        color: white;
    }


/* ~~~ Resume ~~~ */

    .resume h1,
    .resume h2 {
        text-align: center;
    }

    .resume h4 {
        font-weight: 200;
        line-height: 35px;
        margin-bottom: 4px;
        text-align: center;
    }

    .skill {
        background-color: white;
        border-radius: 50%;
        height: 80px;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 0px #363636;


        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .skill-title {
        display: table-cell;
        vertical-align: middle;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;
    }

    @media (max-width: 991px) {
        .skill-title {
            padding-top: 0px;
            padding-bottom: 0px;
            text-align: left;
            background-color: #1B5968;
        }
        
        .skill-title h2 {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .skill-btn {
        cursor: pointer;
    }

    #skills {
        padding-left: 10%;
        padding-right: 10%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 991px) {
        #skills {
            padding-left: 0%;
            padding-right: 0%;
        }
        
        .skill-title {
            text-align: center;
        }
    }

    .skill-hover {
        opacity: 0.55;
        border-radius: 50%;
        border: 1px solid black;
    }

    @media (max-width: 446px) {
        .resume .col-4 {
            padding: 0 !important;
        }
    }

    #resumebtn {
        margin-top: 25px;
        color: white;
        border-color: white;
        font-family: 'Hind', 'regular';
    }

    #resumebtn:hover {
        color: black !important;
        background-color: white;
    }

    #resumebtn:hover a {
        color: black !important;
        background-color: white;
    }

    #resumebtn:focus {
        box-shadow: none;
        outline: none;
    }

    #skills-container {
        padding-top: 20px;
    }

    #tech,
    #design {
        margin-top: 20px;
    }

    @media (max-width: 991px) {

        #tech,
        #design {
            margin-top: 25px;
        }
    }


/* ~~~ Portfolio ~~~ */

    .portfolio h1 {
        text-align: center;
    }

    .portfolio h3 {
        text-align: center;
        color: #23CFFC;
    }

    .port_img {
        margin-bottom: 20px;
        width: 90%;
        max-height: 300px;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .port_title {
        font-family: 'Nunito', sans-serif;
        color: white;
        text-align: left;
    }

    .port_ico {
        padding-right: 10px
    }

    .project {
        padding: 15px;
        margin-bottom: 0px;
    }

    .project_title {
        text-align: center;
        margin: 0;
    }

    .project-background {
        background-color: #002833;
        padding: 15px;
        height: 100%;
        border: 1px solid #000C0F;
    }

    .project-background:hover {
        border: 2px solid #ffffff;
        opacity: 0.5;
        cursor: pointer;
    }

    #portfolio-items {
        padding-top: 15px;
    }

    .portfolio-desc {
        padding-top: 15px;
    }

/* ~~~ Portfolio Page ~~~ */

    .portfolio-page h2 {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 1.8rem;
    }

    .portfolio-page h4 {
        font-size: 16pt;
        vertical-align: left;
        font-weight: 200;
        line-height: 35px;
        display: grid;
        vertical-align: middle;
        margin-bottom: 0;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .portfolio-page a {
        font-family: 'Noto Sans JP', sans-serif;    
    }

    .port_title {
        color: white;
        font-size: 20pt;
        text-align: left;
    }

    .port_ico {
        padding-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 35px;
    }

    .portfolio_col_icon {
        padding-right: 0;
    }

    .portfolio_col_text {
        padding-left: 0;
    }

    .center {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

/* ~~~ Skill Modal ~~~ */

    .modal {
        color: black !important;
    }

    .modal-open {
        padding-right: 0 !important;
    }

    .modal-title {
        font-family: 'Nunito', sans-serif;
        color: black !important;
    }

    .modal h2 {
        color: black !important;
        text-align: left;
    }

    .modal h3 {
        color: black !important;
        text-align: center;
    }

    .modal h4 {
        color: black !important;
        text-align: left !important;
    }

    .modal .port_img {
        background-color: gray;
        padding: 10px;
    }

    .modal a {
        color: #0049ee;
    }

    .modal p {
        margin-top: 10px;
    }

    .proficency-bar {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding-bottom: 15px;
        text-align: center;
    }